@model WebApplication1.Models.BookIssueReturn

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Book Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.MemberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.MemberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OneDateFine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OneDateFine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFine)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
